{% extends 'base/base_content.html' %}
{% load static %}
{% load cache %}
{% load i18n %}

{% block custom_css %}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css"/>

<style scoped>
    /* allow menu to break out of treeview container */
    div.k-treeview {
      overflow: visible;
    }

    .parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*  not necessary, just to visualize it */

  .parent {
    height: 500px;
  }
  .text-log {
    font-size-adjust: 0.4;
  }

  .text-center {
    text-align: center !important;
  }

  </style>
{% endblock custom_css %}

<!--  BEGIN CONTENT AREA  -->
{% block content %}
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
              <div class="widget-three">
                  <div class="widget-heading">
                      <h5 class="">Activiter du systeme <br></h5>
                  </div>
                  <div class="widget-content">

                      <div class="order-summary">

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                              </div>
                              <div class="w-summary-details">
                                  <div class="w-summary-info">
                                      <h6>CPU</h6>
                                      <p class="summary-count" align="right">
                                        {# freq_cpu_stats ({{ stats_cpu.total_nb_core }} * {{ stats_cpu.max_cpu_freq }}) {{ stats_cpu.total_frequency_available }} #}
                                        {{ stats_cpu.all_hz_usage }} / ({{ stats_cpu.total_nb_core }} * {{ stats_cpu.max_cpu_freq }}) {{ stats_cpu.total_frequency_available }} <br>
                                        {% if stats_cpu.overload > 0 %}
                                        <span class="badge badge-danger">surcharge <span class="badge badge-light">{{ stats_cpu.overload|floatformat:"0" }}%</span></span>
                                        {% endif %}
                                      </p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: {{ stats_cpu.all_percent_usage|floatformat:"0" }}%" aria-valuenow="{{ stats_cpu.all_percent_usage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                              </div>
                              <div class="w-summary-details">

                                  <div class="w-summary-info">
                                      <h6>Ram</h6>
                                      <p class="summary-count">({{ stats_ram.all_percent_ram_used|floatformat:"0" }}%) {{ stats_ram.ram_used }} / {{ stats_ram.total_ram }}</p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: {{ stats_ram.all_percent_ram_used|floatformat:"0" }}%" aria-valuenow="{{ stats_ram.all_percent_ram_used|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                              </div>
                              <div class="w-summary-details">

                                  <div class="w-summary-info">
                                      <h6>Disque ({{ stats_disk.directory }})</h6>
                                      <p class="summary-count">({{ stats_disk.percent_used }}%) {{ stats_disk.used }} Gb/{{ stats_disk.total }} Gb</p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: {{ stats_disk.percent_used|floatformat:"0" }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                  </div>
              </div>
          </div>

        </div>

        <div class="row layout-top-spacing">

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 layout-spacing">
              <div class="widget-three">
                  <div class="widget-heading">
                      <h5 class="">Vos containeurs<br></h5>
                  </div>
                  <div class="widget-content">
                    <div class="parent" style="height: 900px;">
                      <div style="width: 200px;">
                          <div id="treeview"></div>
                      </div>

                      <ul id="menu1"></ul>
                      <div>
                        <div id="text-log" data-id="taskmanager">Tache systeme</div>
                        <div style="border: dotted grey;border-width: 0.2em 0 0px;margin-top: 10px;padding-bottom: 5px;">
                          <table class="table table-responsive" id="taskmanager" width="100%">
                            <thead>
                              <th class="text-center" style="width: 50px;">Action</th>
                              <th class="text-center" style="width: 50px;">Status</th>
                              <th class="text-center" style="width: 50px;">Progress</th>
                              <th class="text-center" style="width: 50px;">Cible<th>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

        </div>

    </div>
    {% endblock content %}

    {% block footer %}
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © 2020 <a target="_blank" href="https://cuby-hebergs.com/vlad">CUBY</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
    {% endblock footer %}

{% block custom_js %}


<script>

  let id_taskmanager = 0;
  let dict_progress = {};

  (function ($) {
      $.fn.taskManager = function (options) {
          let settings = jQuery.extend({}, options);
          let $jq = this;
          let that = this;
          let number_task = that[0].children[1].children.length;
          let output = {
            'GetId': function(id){
                $(that[0].children[1].children).each(function(index, value) {
                  if (id == value.id){
                      id_taskmanager = value;
                  }
                });
                return output;
            },
            'addTask': function(param){
                $(that[0].children[1]).append("<tr id=\""+param["id"]+"\"> \
                                              <td>"+param['action']+"</td> \
                                              <td>"+param['status']+"</td> \
                                              <td><div class=\"progress\"> \
                                                    <div id=\"taskmanager_progress"+number_task+"\" class=\"progress-bar bg-gradient-warning\" role=\"progressbar\" style=\"width: "+param['progress']+"%\" aria-valuenow=\""+  param['progress']+"\" aria-valuemin=\"0\" aria-valuemax=\"100\"></div> \
                                              </div></td> \
                                              <td>"+param['target']+"</td> \
                                              </tr>");
                id_taskmanager = "taskmanager_progress"+number_task;
                return output;
            },
            'remove': function(){
                id_taskmanager.remove();
                return output;
            },
            'init': function () {
              $jq.each(function () {
                  var _this = this;
                  _this.$this = $(this);
                  _this._param = "value";
              });
            return output.GetId(settings.param);
        }
      }
  output.init();
  return output;
  };
})(jQuery);

$.fn.progressbar = function custom_progressbar(parm) {
    this.css('width', parm['value']);
    this.attr('aria-valuenow', parm['value']);
    return this;
}

$( function() {
  let progress = $("#progressbar").progressbar({
    value: 37
  });

  let taskmanager = $("#taskmanager").taskManager();
  taskmanager.addTask({"id": 10, "action": "Addcontainer", "status": "Inprogress", "progress": 0, "target": "10.32.0.253"});
  //taskmanager.GetId("10").remove();
});
</script>


<script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>

<script id="editTemplate" type="text/x-kendo-template">
  <label>Text: <input class="k-textbox" value="#= node.text #" /></label>
  <button class="k-button k-primary">Save</button>
</script>

<script id="deletemultichildren" type="text/x-kendo-template">
  <p><label>Attention vous vous appreter a supprimer un groupe avec plusieur element voulez vous continuer ?</label></p>
  <button class="k-button k-primary">Je souhaite supprimer tous c'est element</button>
  <button class="k-button k-not">Non</button>
</script>

<script id="adddockerserver" type="text/x-kendo-template">
  <p>
    <div class="row">
    <div class="col-lg-6"><label>Serveur IP<input class="k-host" name="host-ip" value="" /></label><br>
      <label>Utilisateur<input class="k-user" name="host-user" value="" /></label><br>
      <label>Mot de passe<input class="k-password" type="password" name="host-password" value="" autocomplete="new-password"/></label>
    </div>
  </div></p>
  <button class="k-button k-primary">Save</button>
</script>

<script id="adddocker" type="text/x-kendo-template">
  <p>
    <div class="row">
    <div class="col-lg-6"><label>Serveur IP<input class="k-host" name="host-ip" value="" /></label><br>
      <label>Utilisateur<input class="k-user" name="host-user" value="" /></label><br>
      <label>Mot de passe<input class="k-password" type="password" name="host-password" value="" autocomplete="new-password"/></label>
    </div>
  </div></p>
  <button class="k-button k-primary">Save</button>
</script>

<script id="adddockercontainer" type="text/x-kendo-template">
  <p>
    <div class="row">
    <div class="col-lg-6"><label>Nom containeur: <input class="k-name" name="host-ip" value="" /></label>
    </div>
  </div></p>
  <button class="k-button k-primary">Save</button>
</script>

<script>
  var items = [
    { text: "Manager CubyDock", encoded: false, action: "ManagerController", imageUrl: "{% static "assets/img/treeview/images/controller_cubydock.png" %}",
      contextmenu: [
        { text: "Editer le controlleur", action: "EditController" },
        { text: "Ajouter un groupe", action: "addGroupDocker" },
        { text: "Ajouter un serveur docker", action: "addDockerServer" }
      ],
      items: []
    },
      // items: [
      //   { text: "Serveur - 10.32.0.25", imageUrl: "{% static "assets/img/treeview/images/docker_computer.png" %}", contextmenu: [
      //           { text: "Ajouter un groupe container", action: "addGroupContainer" },
      //           { text: "Ajouter un container", action: "addDockerContainer" },
      //           { text: "Renommer", action: "rename" },
      //           { text: "Supprimer", action: "remove" },
      //         ]},
      //   { text: "Item3", imageUrl: "{% static "assets/img/treeview/images/docker_computer.png" %}" }
      // ]},
  ];

  $(document).ready(function() {

    function hiddenLogs() {
      var id_numero = $(this).data('id');

      if ($("#"+id_numero).is(':hidden')) {
        $("#"+id_numero).show();
        $(this).find("span").text("-");
      } else {
        $("#"+id_numero).hide();
        $(this).find("span").text("+");
      }
    }

    hiddenbutton = $("#text-log");
    hiddenbutton.on("click", hiddenLogs);

      let editTemplate = kendo.template($("#editTemplate").html());
      let deletemultichildren = kendo.template($("#deletemultichildren").html());
      let adddockerserver = kendo.template($("#adddockerserver").html());
      let adddockercontainer = kendo.template($("#adddockercontainer").html());


      $("#treeview").kendoTreeView({
        dragAndDrop: true,
        drop: onDrop,
        dataSource: items,
        select: onSelect,
      });

      function onDrop(e) {
         let data = $('#treeview').data('kendoTreeView').dataItem(e.sourceNode);
         let newData = $('#treeview').data('kendoTreeView').dataItem(e.destinationNode);
         let targetsRoot = $(e.dropTarget).parentsUntil(".k-treeview", ".k-item").length == 1;

         if (newData === undefined){
           e.setValid(false);
         } else {

           // // do not allow changing levels
           // if (data.IsParent != newData.IsParent && e.dropPosition != "over") {
           //     e.setValid(false);
           // }

           // do not allow adding to children if is controller docker
           if (data.imageUrl == newData.imageUrl && data.imageUrl == "/static/assets/img/treeview/images/docker_computer.png") {
               e.setValid(false);
           }

           if (targetsRoot && e.statusClass != "add") {
             e.setValid(false);
          }
       }
      }

      function onSelect(e) {
        let menuselected = "";

        if (e.node !== undefined) {
          /** if is item menu **/
          let uid = e.node.attributes['data-uid'].value;
          menuselected =  e.sender._dataSourceUids[uid];

        } else {
          /** if is item contextmenu **/
          let uid = e.item.attributes['data-uid'].value;
          nodeselected = $("#treeview").getKendoTreeView().dataItem($(e.target).closest(".k-item"));
          $(nodeselected.contextmenu).each(function(key, item) {
            if (item.uid == uid){
              menuselected = item;
            }
          });
        }

        /** get action and id **/
        let action = menuselected.action;
        let id = menuselected.id;
        let textitem = menuselected.text;

        if (action == "remove"){
          let treeview = $("#treeview").data("kendoTreeView");
          let matches = treeview.findByText(e.target.textContent);

          for(i = 0; i < matches.length; i++) {
            let dataItem = treeview.dataItem(matches[i]);
            if(!dataItem.hasChildren) {
              let text = treeview.findByText(e.target.textContent);
              treeview.remove(text);
              //treeview.dataItem(matches[i]).set("checked", true);
            } else {
              let text = treeview.findByText(e.target.textContent);

              $("<div />")
                .html(deletemultichildren({}))
                .appendTo("body")
                .kendoWindow({
                  modal: true,
                  visible: false,
                  deactivate: function() {
                    this.destroy();
                  }
                })

                // bind window button
                .on("click", ".k-primary", function(e) {
                  e.preventDefault();
                  let dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                  treeview.remove(text);

                  dialog.close();

                })
                // bind window button
                .on("click", ".k-not", function(e) {
                  e.preventDefault();

                  let dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
                  dialog.close();

                })
                .getKendoWindow().center().open();

              console.log("has children");
            }
          }


        }

        if (action == "addGroupDocker"){
          let treeview = $("#treeview").data("kendoTreeView");

          text = "Nouveau Groupe";
          group = $("#treeview li:contains('"+text+"')")

          i = 1;
          number = 1;

          if (group.length > 0){
            number = (i+group.length)-1;
          }

          // detect if parent if server don't possible to add group of server this
          if (e.target.children[0].attributes.src.value == "/static/assets/img/treeview/images/docker_computer.png") {
            treeview.append({ text: "Nouveau Groupe ("+number+")", imageUrl: "{% static "assets/img/treeview/images/group_docker.png" %}", contextmenu: [
                    { text: "Ajouter un groupe container", action: "addGroupContainer" },
                    { text: "Ajouter un container", action: "addDockerContainer" },
                    { text: "Renommer", action: "rename" },
                    { text: "Supprimer", action: "remove" }
            ]});
          } else {
            treeview.append({ text: "Nouveau Groupe ("+number+")", imageUrl: "{% static "assets/img/treeview/images/group_docker.png" %}", contextmenu: [
                    { text: "Ajouter un sous-groupe", action: "addGroupDocker" },
                    { text: "Ajouter un serveur", action: "addDockerServer" },
                    { text: "Renommer", action: "rename" },
                    { text: "Supprimer", action: "remove" }
            ]});
          }

          treeview.append(treeview.findByText("Nouveau Groupe ("+number+")"), treeview.findByText(e.target.textContent));
        }

        if (action == "addDockerServer"){
          let treeview = $("#treeview").data("kendoTreeView");

          $("<div />")
            .html(adddockerserver({}))
            .appendTo("body")
            .kendoWindow({
              title: 'Connection SSH',
              modal: true,
              visible: false,
              deactivate: function() {
                this.destroy();
              }
            })
            // bind window button
            .on("click", ".k-primary", function(ev) {
              e.preventDefault();

              let dialog = $(ev.currentTarget).closest("[data-role=window]").getKendoWindow();

              let host = dialog.element.find(".k-host");
              let username = dialog.element.find(".k-user");
              let password = dialog.element.find(".k-password");

              treeview.append({ text: host.val(), imageUrl: "{% static "assets/img/treeview/images/docker_computer.png" %}", contextmenu: [
                      { text: "Ajouter un groupe container", action: "addGroupContainer" },
                      { text: "Ajouter un container", action: "addDockerContainer" },
                      { text: "Renommer", action: "rename" },
                      { text: "Supprimer", action: "remove" }
              ]});

              treeview.append(treeview.findByText(host.val()), treeview.findByText(e.target.textContent));
              dialog.close();

            })
            .getKendoWindow().center().open();
        }

        if (action == "addDockerContainer"){
          let treeview = $("#treeview").data("kendoTreeView");

          $("<div />")
            .html(adddockercontainer({}))
            .appendTo("body")
            .kendoWindow({
              title: 'Ajouter un container',
              modal: true,
              visible: false,
              deactivate: function() {
                this.destroy();
              }
            })
            // bind window button
            .on("click", ".k-primary", function(ev) {
              e.preventDefault();

              let dialog = $(ev.currentTarget).closest("[data-role=window]").getKendoWindow();
              let name = dialog.element.find(".k-name");

              treeview.append({ text: name.val(), imageUrl: "{% static "assets/img/treeview/images/docker_container.png" %}", contextmenu: [
                      { text: "Renommer", action: "rename" },
                      { text: "Supprimer", action: "remove" }
              ]});

              treeview.append(treeview.findByText(name.val()), treeview.findByText(e.target.textContent));
              dialog.close();

            })
            .getKendoWindow().center().open();
        }



        if (action == "rename"){
          let node = $("#treeview").getKendoTreeView().dataItem(e.target);

          // create & open window
          $("<div />")
          	.html(editTemplate({ node: node }))
          	.appendTo("body")
            .kendoWindow({
              modal: true,
              visible: false,
              deactivate: function() {
                this.destroy();
              }
            })
          	// bind window button
            .on("click", ".k-primary", function(e) {
              e.preventDefault();

              let dialog = $(e.currentTarget).closest("[data-role=window]").getKendoWindow();
              let textbox = dialog.element.find(".k-textbox");

              node.set("text", textbox.val());
              dialog.close();

            })
          	.getKendoWindow().center().open();
          }

      }

    $("#menu1").kendoContextMenu({
      target: "#treeview",
      // show when the user clicks node text is clicked
      filter: ".k-in",
      open: function(e) {
        let treeview = $("#treeview").data("kendoTreeView");
        let node = e.target;
        let dataItem = treeview.dataItem(node);
        let data = [];

        let type = dataItem.contextmenu;

        if (type !== undefined){
          data = type;
        }

        e.sender.setOptions({
          dataSource: data,
          select: onSelect,

        });
      }
    });

  });
</script>
{% endblock custom_js %}
