{% extends 'base/base_content.html' %}
{% load static %}
<!--  BEGIN CONTENT AREA  -->
{% load i18n %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}
    <div class="layout-px-spacing">

        <div class="row layout-top-spacing">

          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
              <div class="widget-three">
                  <div class="widget-heading">
                      <h5 class="">Activiter du systeme </h5>
                  </div>
                  <div class="widget-content">

                      <div class="order-summary">

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
                              </div>
                              <div class="w-summary-details">

                                  <div class="w-summary-info">
                                      <h6>CPU</h6>
                                      <p class="summary-count" align="right">
                                        {{ stats.all_percent_usage }}% / ({{ stats.total_nb_core }} * {{ stats.max_cpu_freq }}) {{ stats.total_frequency_available }}<br>
                                      </p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-secondary" role="progressbar" style="width: {{ stats.all_percent_usage|floatformat:"0" }}%" aria-valuenow="{{ stats.all_percent_usage|floatformat:"0" }}" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                              </div>
                              <div class="w-summary-details">

                                  <div class="w-summary-info">
                                      <h6>Ram</h6>
                                      <p class="summary-count">(100%) 32Gb/32Gb</p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                          <div class="summary-list">
                              <div class="w-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                              </div>
                              <div class="w-summary-details">

                                  <div class="w-summary-info">
                                      <h6>Disque</h6>
                                      <p class="summary-count">(100%) 5Tb/5Tb</p>
                                  </div>

                                  <div class="w-summary-stats">
                                      <div class="progress">
                                          <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </div>

                              </div>

                          </div>

                      </div>

                  </div>
              </div>
          </div>
        </div>

    </div>
    {% endblock content %}

    {% block footer %}
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">Copyright © 2020 <a target="_blank" href="https://cuby-hebergs.com/vlad">CUBY</a>, All rights reserved.</p>
        </div>
        <div class="footer-section f-section-2">
            <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
        </div>
    </div>
    {% endblock footer %}

{% block custom_js %}
{% endblock custom_js %}
